<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
        style="background-image: url({{ site.baseurl }}/images/cover.jpg)">
    <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">
                <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
                    <img src="{{ site.baseurl }}/images/profile.jpg" class="user-image" alt="My Profile Photo">
                    <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
                    <h3 class="panel-cover__title panel-title"><i>{{ site.tagline }}</i></h3>
                </a>
                <div class="navigation-wrapper">
                    <h3 class="panel-cover__title panel-title"><i>{{ site.description }}</i></h3>
                    <nav class="cover-navigation navigation--social">
                        <nav class="cover-navigation">
                            <ul class="navigation">
                                <li class="navigation__item">
                                    <a href="/about" title="about">
                                        <span>About Me</span>
                                    </a>
                                </li>
                                <li class="navigation__item">
                                    <a href="/search" title="search">
                                        <span>Search</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                        <hr class="panel-cover__divider">
                        {% include social-links.html %}
                    </nav>
                    {% include book.html %}
                </div>

            </div>

        </div>

        <div class="panel-cover--overlay"></div>
    </div>
</header>
