<div class="menu">
    <div class="menu-link">
        <a href="/">
            <i class="fas fa-signature"></i>
            Blog
        </a>
    </div>
    <div class="menu-link">
        <a href="/about">
            <i class="fas fa-signature"></i>
            About
        </a>
    </div>
    <div class="menu-link">
        <a href="/tags">
            <i class="fas fa-hashtag"></i>
            Tags
        </a>
    </div>
    <div class="menu-link">
        <a href="/posts">
            <i class="fas fa-archive"></i>
            Archive
        </a>
    </div>
    <div class="menu-link">
        <input type="text" id="search-input" placeholder="search...">
    </div>
</div>

<p>
<h2>
    Note: I'm migrating from <a href="https://gonzalo123.com">gonzalo123.com</a> to here.
    When I finish I'll swap the DNS to here. The "official" blog will be always <a
        href="https://gonzalo123.com">gonzalo123.com</a>
</h2>
</p>
{% include search.html %}
