<div class="menu">
    <div class="menu-link">
        <a href="/">
            <i class="fas fa-signature"></i>
            Blog
        </a>
    </div>
    <div class="menu-link">
        <a href="/about">
            <i class="fas fa-signature"></i>
            About
        </a>
    </div>
    <div class="menu-link">
        <a href="/tags">
            <i class="fas fa-hashtag"></i>
            Tags
        </a>
    </div>
    <div class="menu-link">
        <a href="/posts">
            <i class="fas fa-archive"></i>
            Archive
        </a>
    </div>
        <div class="menu-link">
        <input type="text" id="search-input" placeholder="search...">
    </div>
</div>

{% include search.html %}
